@model DotNet.Highcharts.Highcharts

@(Model)
<div id="dateSelect" style="float:left;margin-right:30px;border:thin;border-color:Scrollbar">
    <form action="/XMLUtility/Range" method="GET">
        Select Start Date:
        <select name="startDate" style="display:block">
            <option value="2013-06-04T00:00:00.00+05:30">04/06</option>
            <option value="2013-06-05T00:00:00.00+05:30">05/06</option>
            <option value="2013-06-06T00:00:00.00+05:30">06/06</option>
            <option value="2013-06-07T00:00:00.00+05:30">07/06</option>
        </select>
        Select End Date:
        <select name="endDate" style="display:block">
            <option value="2013-06-04T00:00:00.00+05:30">04/06</option>
            <option value="2013-06-05T00:00:00.00+05:30">05/06</option>
            <option value="2013-06-06T00:00:00.00+05:30">06/06</option>
            <option value="2013-06-07T00:00:00.00+05:30">07/06</option>
            <option value="2013-06-08T00:00:00.00+05:30">08/06</option>
        </select>
    
        <input type="submit"/>
    </form>
</div>
<br>

<div id="selectTest" style="margin-left:20px">
    List of tests for selected run. 
    <br>
    Click on the data points ro select that run.
</div>
<div style="clear:both"></div>
<h1>@ViewBag.Message</h1>